.InfoCard {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    background-color: var(--cardColor);
    padding: 1rem;
    border-radius: 1rem;
    width: 90%;
}

.infoHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoHead>div:hover {
    cursor: pointer;
}

.delete-button {
    width: 7rem;
    height: 2rem;
    margin-top: 6rem;
    align-self: flex-end;
}

.delete-confirm-button {
    height: 3rem;
    width: 20%;
    align-self: center;
    margin: 3rem;
    background: linear-gradient(106.23deg, rgb(221, 153, 153) 0%, #f95f35 100%);
    color: white;
    border-radius: 1rem;
    border-width: 0;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

.not-delete-confirm-button {
    height: 3rem;
    width: 20%;
    align-self: center;
    margin: 3rem;
    background: linear-gradient(106.23deg, rgb(8, 215, 8) 0%, green 100%);
    color: white;
    border-radius: 1rem;
    border-width: 0;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}