:root {
  --blue: #73abe0;
  --black: #242d49;
  --gray: rgba(36, 45, 73, 0.65);
  --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  --hrColor: #cfcdcd;
  --cardColor: rgba(255, 255, 255, 0.64);
  --logoBg: linear-gradient(98.63deg, #ffffff 0%, #9cd0f0 100%);
  --buttonBg: linear-gradient(98.63deg, #458ccb 0%, #73abe0 100%);
  --inputColor: rgba(40, 52, 62, 0.07);
}

.App {
  overflow: hidden;
  color: var(--white);
  background: #83c0f5;
  padding: 1rem 1rem;
}

/* blur */
.blur {
  position: absolute;
  width: 50rem;
  height: 20rem;
  border-radius: 50%;
  background: #528dc5;
  filter: blur(72px);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: var(--buttonBg);
  transition: all 100ms ease-out;
}

.button:hover {
  color: var(--blue);
  border: 2px solid var(--blue);
  cursor: pointer;
  background: transparent;
}

.button:disabled {
  background: silver;
  pointer-events: none;
}


::-webkit-scrollbar {
  display: none;
}



/* Form Styling */
.infoForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.totalForm {
  display: flex;
  flex-direction: row;
}

.validationMsgHidden {
  display: none;

}

.validationMsgVisible {
  display: flex;
  height: 100%;
  width: 90%;
  font-size: small;
  color: red;
  margin-left: auto;
  text-align: left;
}

.validationMsgVisible>div>ol {
  padding: 0;
}

.validationListHeader {
  text-align: center;
  font-size: small;
  padding: 0;
}

.successHidden {
  display: none;
}

.successVisible {
  display: flex;
  color: green;
  font-size: small;
  padding: 0;
  margin: 0;
  gap: 0;
}

.formTitle {
  padding: 0;
  margin: 0;
}

.infoInput {
  border: none;
  outline: none;
  background-color: var(--inputColor);
  border-radius: 8px;
  padding: 20px;
  flex: 1;
}

.infoForm>div {
  display: flex;
  gap: 1rem;
  height: 2rem;
  width: 90%;
}

.infoButton {
  width: 6rem;
  height: 2rem;
  align-self: flex-end;
}
.regValidationMsgVisible {
  background-color: var(--cardColor);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  height: 100%;
  width: 30%;
  font-size: small;
  color: black;
  margin-left: auto;
  text-align: left;
  justify-content: space-evenly;
}
